

<button class="btn nav-link" id="addBooksButton "(click)="triggerModal(modalData)">Add Books</button>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Angular Bootstrap Modal Popup</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">

      <label for="fname">Autor:</label><br>
      <input type="text" id="book-autor" class="form-control" [(ngModel)]="autor"><br>
      <label for="fname">Titel:</label><br>
      <input type="text" id="book-title" class="form-control" [(ngModel)]="title"><br>
      <label for="fname">Year:</label><br>
      <input type="text" id="book-year" class="form-control" [(ngModel)]="year"><br>
      <label for="fname">Pages:</label><br>
      <input type="text" id="book-pages" class="form-control" [(ngModel)]="pages"><br>
      <label for="fname">Publisher:</label><br>
      <input type="text" id="book-publisher" class="form-control" [(ngModel)]="publisher"><br>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
    <button type="button" class="btn btn-dark" id="add-book" (click)="addBook(autor, title, year, pages, publisher)">Add Book</button>
  </div>
</ng-template>
