.table{
  margin-bottom: 30px;
}

#inputForm{
  padding: 20px;
}

#formContainer{
  max-width: 300px;
  margin-left: 50px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: #565656;

}

.deleteMemory{
  margin-left: 5px;

}

